/* Corpo do site */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('a/BentoHero_4x_Vanilla_1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

/* Barra de navegação */
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid #008000;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
}

.navbar a:hover {
    background-color: #008000;
    border-radius: 5px;
}

/* Botão pulsante "Jogar" */
.play-button {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #008000;
    border-radius: 5px;
    animation: pulse 1s infinite;
    border: 2px solid #006400;
    transition: background-color 0.3s ease-in-out;
}

.play-button:hover {
    background-color: #006400;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Balões verdes */
.balloon.green {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.9);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}

/* Formulário de contato */
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #008000;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #006400;
}

/* Ícones de redes sociais no rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-top: auto;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    height: 25px;
}

footer .social-icons img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

footer .social-icons img:hover {
    transform: scale(1.2);
}
